.strike {
  text-decoration: line-through;
}

.xcentered {
  display: block;
  margin: auto;
}

input.column {
  padding-bottom: 0.666666667rem;
}

#item-txt {
  margin-right: 1.25rem;
  margin-left: 0.75rem;
}

.edit-date {
  margin-left: 0.75rem;
  margin-right: 1.25rem;
}

#nav {
  width: 54%;
}
